@model IEnumerable<PatenPottery.Models.Product>

<!DOCTYPE html>
<html>
<head>
    <title>Our Products</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <section class="page-section">
        <div class="container">
            @foreach (var product in Model)
            {
                <div class="row mb-4">
                    <div class="col-lg-4 d-flex align-items-center">
                        @if (product.Image != null && product.Image.Length > 0)
                        {
                            <img class="product-item-img mx-auto rounded img-fluid mb-3 mb-lg-0" src="data:image;base64,@Convert.ToBase64String(product.Image)" alt="@product.ProductName" style="width: 200px; height: 200px; object-fit: cover;" />
                        }
                        else
                        {
                            <img class="product-item-img mx-auto rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/default-image.jpg" alt="Default Image" style="width: 200px; height: 200px; object-fit: cover;" />
                        }
                    </div>
                    <div class="col-lg-8 d-flex flex-column justify-content-center">
                        <div class="bg-faded p-5 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">@product.ProductName</span>
                                <span class="section-heading-lower">@product.Description</span>
                            </h2>
                            <p class="mb-0">Price: @product.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
