<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        
                        <form>
                            <div class="mb-3">
                                <label for="OrderID" class="form-label">Order ID</label>
                                <input type="text" class="form-control" id="text" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">Enter your Order ID</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Track Order</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>